{% extends '::layout.html.twig' %}

{% block title %}Arxiu : {{arxiu |striptags}}{% endblock %}
{% block menu %}
{% include 'BlogBundle:Default:menu.html.twig' with {'menu': 'arxiu'} %}
{% endblock %}
 {% block content %}
 

<div id="jornades">


			
			<h2 class="titol_jornada">{{ arxiu.titol }}</h2>

            {% if arxiu.document1Name  %}
                <div class="categoria"> <a rel='external' href='{{ vich_uploader_asset(arxiu, 'document1')  }}' target="_blank">
                <img class="icona_descarrega" src="{{ asset('images/icona-descarrega.png') }}" alt="icona descarrega" title="icona descarrega"/>
                {{ arxiu.titolDocument1 }}</a></div>


            {% endif %}

			<div class="descripcio">
			{{ arxiu.descripcio|raw }}
			
			</div>
			
			{% if arxiu.imageGran1Name  %}
				<img src='{{ vich_uploader_asset(arxiu, 'imageGran1') | imagine_filter('imatge_pagina') }}' alt="L'Aula al Pati : arxiu {{ arxiu.titol }}"/>
						<p class="peu_foto">{{ arxiu.peuImageGran1 }} </p>
			
			{% endif %}
			
			<div class="separador"></div>
			

		
</div>

{% endblock %}