{% extends '::layout.html.twig' %}

{% block title %}Jornades{% endblock %}
{% block menu %}
{% include 'BlogBundle:Default:menu.html.twig' with {'menu': 'jornades'} %}
{% endblock %}
 {% block content %}
 

<div id="jornades">
	{% for jornada in jornades %}
			
			{%  if jornada.imagePetitaName is not null%}
			<div class="jornada">
				<div class="columna_esquerra">
				     <a href="{{ path('jornada',{'titol':jornada.slug})}}">  <img id="id{{ jornada.id }}" src="{{ vich_uploader_asset(jornada, 'imagePetita') | imagine_filter('portada') }}" alt="{{ jornada.titol }}" title="{{ jornada.titol }}"></a>
							
				</div>
								
									
				<div class="columna_dreta">			
							<h2 class="titol_jornada"><a href="{{ path('jornada',{'titol':jornada.slug})}}">{{ jornada.titol|raw }}</a></h2>
							<div class="resum">
							{{ jornada.resum}}							
							</div>
									
				</div>
			</div>
			{% if jornada.dataRealitzacio is not null %}
							
							<div class="separador_lloc">
							{{ jornada.dataRealitzacio }}
							</div>
							
	
			{% else %}
			
							<div class="separador"></div>
			
			{% endif %}
			
			{% else %}
			
						
					<h2 class="titol_jornada"><a href="{{ path('jornada',{'titol':jornada.slug})}}">{{ jornada.titol|raw }}</a></h2>				
		
					
					
				
					<div class="resum">
					{{ jornada.resum}}
					
					</div>
				
					{% if jornada.dataRealitzacio is not null %}
					
					<div class="separador_lloc">
					{{ jornada.dataRealitzacio }}
					</div>
					
					
					{% else %}
					
					<div class="separador"></div>
					
					{% endif %}
			{% endif %}

	{% endfor %}

</div>

{% endblock %}