<div id="menu">
	<ul>
	{% if menu=='presentacio' %}
	<li ><a class="actiu" href="{{ path('presentacio') }}">presentació</a>	</li>
	{% else %}
	<li><a href="{{ path('presentacio') }}">presentació</a>	</li>
	{% endif %}
	
{# 	{% if menu=='jornades' %}#}
{# 		<li ><a href="{{ path('jornades') }}" class="actiu">jornades</a></li>#}
{# 		{% else %}#}
{# 		<li><a href="{{ path('jornades') }}">jornades</a></li>#}
{# 			{% endif %}#}
	
{# 	{% if menu=='projectes' %}#}
{# 		<li ><a href="{{ path('projectes') }}" class="actiu">projectes</a></li>#}
{# 	{% else %}#}
{# 		<li><a href="{{ path('projectes') }}">projectes</a></li>#}
{# 	{% endif %}#}
	
	
{# 	{% if menu=='arxiu' %}#}
{# 		<li class="actiu"><a href="{{ path('arxiu') }}" class="actiu">arxiu</a></li>#}
{# 	{% else %}#}
{# 		<li class="actiu"><a href="{{ path('arxiu') }}" >arxiu</a></li>#}
{# 	{% endif %}#}
	
{# 	{% if menu=='publicacions' %}#}
{# 		<li><a href="{{ path('publicacions') }}" class="actiu">publicacions</a></li>#}
{# 	{% else %}#}
{# 		<li class="actiu"><a href="{{ path('publicacions') }}" >publicacions</a></li>#}
{# 	{% endif %}#}
	
{# 	{% if menu=='contacte' %}#}
{# 		<li><a href="{{ path('contacte') }}" class="actiu">contacte</a></li>#}
{# 	{% else %}#}
{# 		<li><a href="{{ path('contacte') }}" >contacte</a></li>#}
{# 	{% endif %}#}
	

{# 	{% if menu=='recursos' %}#}
{# 		<li><a href="{{ path('recursos') }}" class="actiu">recursos</a></li>#}
{# 	{% else %}#}
{# 		<li><a href="{{ path('recursos') }}" >recursos</a></li>#}
{# 	{% endif %}#}
	
	{% if menu=='credits' %}
		<li><a href="{{ path('credits') }}" class="actiu">crèdits</a></li>
	{% else %}
		<li><a href="{{ path('credits') }}" >crèdits</a></li>
	{% endif %}	
		
		
		
	</ul>
</div>