{% extends '::layout.html.twig' %}

{% block title %}Recursos{% endblock %}
{% block menu %}
{% include 'BlogBundle:Default:menu.html.twig' with {'menu': 'recursos'} %}
{% endblock %}
 {% block content %}
 

<div id="jornades">


			

			
			{%  for enllas in enllasos %}
					

                {% if enllas.imagePetitaName is not null %}
				
							<a class="enllas_imatge" href="{{ enllas.link }}" target="_blank">
							<img src="{{ vich_uploader_asset(enllas, 'imagePetita') | imagine_filter('portada') }}" alt="logotip" title="logotip" />
							</a>
                {% endif %}
							<div class="link">
						<h3 class="titol_enllas"><a href="{{ enllas.link }}" target="_blank">{{ enllas.titol }}</a></h3>
						{#<a href="{{ enllas.link }}" target="_blank">#}
						{#<img class="icona_mesinfo" src="{{ asset('images/icona-mesinfo.png') }}" alt="icona més info" title="icona més informació" />#}
						{#</a>#}
						<div class="descripcio_enllas">{{ enllas.descripcio | raw}}</div>	
					

						</div>
							<div class="separador"></div>
					

			{% endfor %}
		
</div>

{% endblock %}